
#MacOS
.DS_Store

# Xcode
*.xcuserstate
*.xcworkspace
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata

# Build artifacts
build/
DerivedData/

